<div class="container">
  <p-panel>
    <p-header>Lista de Espécie / Manutenção da  lista Espécie / Família</p-header>
    <form autocomplete="off" #cadFamilia="ngForm" (ngSubmit)="salvar(cadFamilia)">
      <p-fieldset legend="Cadastro Familia {{ editando ? ' - Editando - ' : '' }}">
        <div class="class= ui-g-12 ui-md-12 ui-fluid">
          <label>Nome: </label>
          <input type="text" name="nmFamilia" placeholder="Familia" pInputText [(ngModel)]="familiaSalva.nmFamilia">
        </div>
        <div class="ui-g-1 ui-md-1">
          <button type="submit" pButton  label="Salvar" class="ui-button-success" [disabled]="!familiaSalva.nmFamilia" ></button>
        </div>
        <div *ngIf="editando" class="ui-g-2 ui-md-2 ui-fluid">

          <button type="button" pButton label="Sair da edição" routerLink="/cadastro-familia"></button>
        </div>
      </p-fieldset>
    </form>
        <p-fieldset legend="Dados Cadastrais">
          <div class="ui-g-12 ui-md-12">
            <form  autocomplete="off" (ngSubmit)="pesquisarFamilia()">
              <div class="ui-g-12 ui-fluid">
                  <label style="display: block">Pesquisar Grupo Ecológico: </label>
                  <div class="ui-g-12 ui-md-7">
                      <div class="ui-inputgroup">
                          <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                          <input type="text" pInputText name="nmGenero" [(ngModel)]="filtro.nmFamilia" placeholder="Pesquisar">
                      </div>
                  </div>

              </div>
          </form>
      </div>

      <div class="ui-g-12 ui-md-12">
        <p-table [value]="familia"  [paginator]="true"   [rows]="filtro.size" [responsive]="true" [lazy]="true"
        [totalRecords]="totalRegistrosFamilia" (onLazyLoad)="aoMudarPaginaFamilia($event)" #tabela>
            <ng-template pTemplate="header" >
                <tr>

                  <th>Codigo</th>
                  <th>Grupo Ecológico</th>
                  <th></th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cadastrofamilia>
                <tr class="hovergenero">
                  <td>{{cadastrofamilia.cdFamilia}}</td>
                  <td>{{cadastrofamilia.nmFamilia}}</td>

                  <td style="text-align: center;"><button pButton icon="pi pi-trash" style="margin-right: 10px;"
                    pTooltip="remover" class="ui-button-danger" tooltipPosition="left"(click)="confirmarExclusaoFamilia(cadastrofamilia)">
                  </button>
                  <button pButton icon="pi pi-pencil" pTooltip="editar" [routerLink]="['/cadastro-familia', cadastrofamilia.cdFamilia]"></button></td>
            </tr>
          </ng-template>
        </p-table>

      </div>

        </p-fieldset>
  </p-panel>
</div>
