<div class="container">
  <p-card [style]="{width: 'px'}" styleClass="ui-card-shadow">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
      <div class="ui-g">
        <div class="ui-g-12">
          <h2>Material</h2>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label style="display: block">Código: {{ editando ? ' - Editando - ' : '' }} </label>
          <input type="text" name="codigo" [readonly]="true" style="width: 50px" [(ngModel)]="materialSalvar.cdMaterial" />
        </div>
        <div class="ui-g-3 ui-fluid">
          <label>Empresa</label>
          <!--<p-dropdown name="empresa" [options]="empresas" [autoWidth]="false"  [(ngModel)]="amostragemSalvar.cdEmpresa.cdEmpresa" required></p-dropdown>-->

          <p-selectButton name="empresa" [options]="empresas" [(ngModel)]="materialSalvar.cdEmpresa.cdEmpresa">
          </p-selectButton>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label style="display: block">Material: </label>
          <input type="text" name="nmmaterial" pInputText [(ngModel)]="materialSalvar.nmMaterial" />
        </div>

        <div class="ui-g-2 ui-fluid">
          <br />
          <button pButton type="submit" label="Salvar" class="ui-button-raised ui-button-success"
            [disabled]="!materialSalvar.nmMaterial"></button>
        </div>

        <div *ngIf="editando" class="ui-g-2 ui-fluid ">
          <br />
          <h3><strong><a routerLink="/cadmaterial">Sair da edição</a></strong></h3>
        </div>
      </div>
    </form>
    <div class="ui-g">
      <div class="ui-g-12">
        <form autocomplete="off" (ngSubmit)="pesquisar()">
          <div class="ui-g-12 ui-fluid">
            <label style="display: block">Pesquisar Material: </label>
            <input type="text" pInputText name="nmmaterial" [(ngModel)]="filtro.nmMaterial">
          </div>
        </form>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="cadmaterial" [paginator]="true" [rows]="filtro.size" [responsive]="true" [lazy]="true"
          [totalRecords]="tatalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>

          <ng-template pTemplate="header">
            <tr>
              <th style="width: 70px">Codigo</th>
              <th>Material</th>
              <th style=" width: 140px"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-material>
            <tr>
              <th>{{material.cdMaterial}}</th>
              <th style="text-align: left">{{material.nmMaterial}}</th>
              <th>
                <a pButton icon="pi pi-pencil" pTooltip="Editar Material" tooltipPosition="top"
                  [routerLink]="['/cadmaterial', material.cdMaterial]"></a>
                <button pButton icon="pi pi-trash" style="margin-left: 10px" pTooltip="Excluir Material"
                  tooltipPosition="top" (click)="confirmarExclusao(material)"></button>
              </th>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>


  </p-card>
</div>
