<div class=" container">
  <p-tabView>
     <p-tabPanel header="Cadastro Geral / Lista de Espécie / Genero">
      <form autocomplete="off" #cadgenero="ngForm" (ngSubmit)="adicionarGenero(cadgenero)">
        <p-fieldset legend="Genero">
          <div class="ui-g-6 ui-md-6 ui-fluid">
            <label>Nome: </label>
             <input type="text" pInputText name="nmGenero" placeholder="Genero" [(ngModel)]="genero.nmGenero">
          </div>
          
          <div class="ui-fluid ui-g-5 ui-md-4" style="margin-right:60px;">
              <label>Familia: </label>
               <p-dropdown name="familia"  [options]="familia" [autoWidth]="false" placeholder= "Selecione a Familia" 
               filter="true"  [(ngModel)]="genero.cdFamilia.cdFamilia">
             </p-dropdown> 
         </div>
         <button type="button" (click)="showBasicDialog()" pButton icon="pi pi-pencil" label="Familia"></button>
         <p-dialog [(visible)]="display" header ="Familia" class="mydialog">
    
        kkkkkkkkk
           
          <p-footer>
            Teste
          </p-footer>
      </p-dialog>
      <div class="ui-g-2  ui-md-2">
        <button type="submit" pButton  label="Salvar"[disabled]="!genero.nmGenero" class="ui-button-success"></button>
      </div>
        </p-fieldset>
      </form>

      <p-fieldset legend="Dados Cadastrais">
        <div class="ui-g-12 ui-md-12">  
        <form  autocomplete="off" (ngSubmit)="consultar()">
          <div class="ui-g-12 ui-fluid">
              <label style="display: block">Pesquisar por Genero: </label>
              <div class="ui-g-12 ui-md-7">
                  <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                      <input type="text" pInputText name="nmGenero" [(ngModel)]="genero.nmGenero" placeholder="Pesquisar">
                  </div>
              </div>

          </div>
      </form>
  </div>

  <div class="ui-g-12 ui-md-12">            
    <p-table [value]="listaGenero"  [paginator]="true"   [rows]="filtro.size" [responsive]="true" [lazy]="true"
     [totalRecords]="totalRegistrosGenero" (onLazyLoad)="aoMudarPaginaGenero($event)" #tabela>
        <ng-template pTemplate="header">
            <tr>
            
              <th>Codigo</th>
              <th>Genero</th>
              <th>Familia</th>
              <th></th>
  
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listaGenero>
            <tr>
              <td>{{listaGenero.cdGenero}}</td>
              <td>{{listaGenero.nmGenero}}</td>
              <td>{{listaGenero.cdFamilia.cdFamilia}}</td>
              <td style="text-align: center;"><button pButton icon="pi pi-trash" style="margin-right: 10px;" pTooltip="remover" class="ui-button-danger" tooltipPosition="left"></button>
              <button pButton icon="pi pi-pencil" pTooltip="editar"></button></td>
        </tr>
       </ng-template>
    </p-table>
   
 </div>

</p-fieldset>
</p-tabPanel>

       
 

