<div class="container">

  <p-tabView>
    <!-------------------AMF--------------->
    <p-tabPanel header="Área de Manejo Florestal">
      <p-card [style]="{width: 'px'}" styleClass="ui-card-shadow">
        <form autocomplete="off" #cadamf="ngForm" (ngSubmit)="salvar(cadamf)">
          <div class="ui-g">
            <h2>Area Manejo Florestal</h2>
          </div>

          <p-fieldset legend="AMF">
            <div class="ui-g">
              <div class="ui-g-3 ui-fluid">
                <label>Empresa</label>
                <p-dropdown name="empresa" [options]="empresas" [autoWidth]="false" placeholder= "Selecione a empresa" 
                [(ngModel)]="cadAmf.cdEmpresa.cdEmpresa" required></p-dropdown>
            
              </div>
              <div class="ui-g-5 ui-md-5 ui-fluid">
                <label style=" padding-left: 10px;">Nome: </label>
                <input type="text" pInputText name="nmArea" [(ngModel)]="cadAmf.nmArea">
               

              </div>

              <div class="ui-g-3 ui-md-4 ui-fluid">
                <label style="padding-left: 10px;">Munícipio: </label>
                <input type="text" pInputText name="nmMunicipio" [(ngModel)] = "cadAmf.nmMunicipio">
              </div>
              <div class="ui-g-1 ui-md-1 ui-fluid">
                <label style="padding-left: 10px;">Estado: </label>
                <input type="text" pInputText name="nmMunicipio" [(ngModel)]="cadAmf.nmEstado">
              </div>

              <p-fieldset legend="Informações Geograficas">

                <div class="ui-g">
                  <div class="ui-g-4 ui-md-5 ui-fluid">
                    <label>Tipologia Florestal: </label>
                    <input type="text" pInputText name="tipoLogiaFlorestal" [(ngModel)]="cadAmf.tipoLogiaFlorestal">
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid">
                    <label>Latitude:</label>
                    <input type="number" pInputText name="latitude1Grau" [(ngModel)]="cadAmf.latitude1Grau">
                  </div>
                  <span style="margin-top: 30px;">°</span>
                  <div class="ui-g-1 ui-md-1 ui-fluid" style="margin-top: 18px;">
                    <input type="number" pInputText name="latitude1Minuto" [(ngModel)]="cadAmf.latitude1Minuto">
                  </div>
                  <span style="margin-top: 30px;">|</span>

                  <div class="ui-g-1 ui-md-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText name="latitude1Orientacao" [(ngModel)]="cadAmf.latitude1Orientacao">
                  </div>

                  <span style="margin-top: 40px;">a</span>
                  <div class="ui-g-1 ui-md-1 ui-fluid" style="margin-top: 18px;">
                    <input type="number" pInputText name="latitude2Grau" [(ngModel)]="cadAmf.latitude2Grau">
                  </div>

                  <span style="margin-top: 30px;">°</span>
                  <div class="ui-g-1 ui-md-1 ui-fluid" style="margin-top: 18px;">
                    <input type="number" pInputText name="latitude2Minuto" [(ngModel)]="cadAmf.latitude2Minuto">
                  </div>
                  <span style="margin-top: 30px;">|</span>

                  <div class="ui-g-1 ui-md-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText name="latitude2Orientacao" [(ngModel)]="cadAmf.latitude2Orientacao">
                  </div>
                </div>

                <div class="ui-g">
                  <div class="ui-g-4 ui-md-5 ui-fluid">
                    <label>Tipo Solo: </label>
                    <input type="text" pInputText name="tipoSolo" [(ngModel)]="cadAmf.tipoSolo">
                  </div>

                  <div class="ui-g-1 ui-md-1 ui-fluid">
                    <label>Longitude:</label>
                    <input type="number" pInputText name="longitude1Grau" [(ngModel)]="cadAmf.longitude1Grau">
                  </div>
                  <span style="margin-top: 30px;">°</span>
                  <div class="ui-g-1 ui-md-1 ui-fluid" style="margin-top: 18px;">
                    <input type="number" pInputText name="longitude1Minuto" [(ngModel)]="cadAmf.longitude1Minuto">
                  </div>

                  <span style="margin-top: 30px;">|</span>
                  <div class="ui-g-1 ui-md-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText name="latitude1Orientacao" [(ngModel)]="cadAmf.longitude1Orientacao">
                  </div>

                  <span style="margin-top: 40px;">a</span>
                  <div class="ui-g-1 ui-md-1 ui-fluid" style="margin-top: 18px;">
                    <input type="number" pInputText name="latitude2Grau" [(ngModel)]="cadAmf.longitude2Grau">
                  </div>

                  <span style="margin-top: 30px;">°</span>
                  <div class="ui-g-1 ui-md-1 ui-fluid" style="margin-top: 18px;">
                    <input type="number" pInputText name="latitude2Minuto" [(ngModel)]="cadAmf.longitude2Minuto">
                  </div>

                  <span style="margin-top: 30px;">|</span>
                  <div class="ui-g-1 ui-md-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText name="longitude2Orientacao" [(ngModel)]="cadAmf.longitude2Orientacao">
                  </div>
                  <div class="ui-g-5 ui-md-1 ui-fluid">
                    <label>Relevo: </label>
                    <input type="text" pInputText name="Relevo" [(ngModel)]="cadAmf.Relevo">
                  </div>
                </div>
              </p-fieldset>

              <p-fieldset legend="Informações Clímaticas">
                <div class="ui-g-7 ui-g-9">
                  <div class="ui-g-3 ui-md-3 ui-fluid" style="margin-top: 20px;">
                    <label>Anual:</label>
                    <input type="number" pInputText name="precipMediaAnualmm" [(ngModel)]="cadAmf.precipMediaAnualmm">
                  </div>

                  <div class="ui-g-3 ui-md-3 ui-fluid">
                    <label style="padding-left: 10px;">Mensal no Período de Chuva:</label>
                    <input type="number" pInputText name="precipMediaMensalChuvamm" [(ngModel)]="cadAmf.precipMediaMensalChuvamm">
                  </div>

                  <div class="ui-g-3 ui-md-3 ui-fluid">
                    <label style="padding-left: 10px;">Mensal no Período de Seca:</label>
                    <input type="number" pInputText name="precipMediaMensalSecamm" [(ngModel)]="cadAmf.precipMediaMensalSecamm">
                  </div>
                </div>


                <div class="ui-g-8 ui-g-9">
                  <div class="ui-g-3 ui-g-3 ui-fluid">
                    <label>Meses de Chuva:</label>
                    <input type="text" pInputText name="mesesChuva" [(ngModel)]="cadAmf.mesesChuva" style="width: 10">
                  </div>
                  <div class="ui-g-3 ui-g-3 ui-fluid">
                    <label style="padding-left: 10px;">Meses de Seca:</label>
                    <input type="text" pInputText name="mesesSeca" [(ngModel)]="cadAmf.mesesSeca">
                  </div>

                </div>
                <div>
                  <p-fieldset legend="Equação">
                    <div class="ui-fluid">
                      <button pButton type="button" icon="pi pi-pencil"></button>
                      <label style="padding-left: 10px;">Volume para inventario:</label>
                      <div style="padding-top: 10px;">
                        <p-dropdown></p-dropdown>
                      </div>

                    </div>
                  </p-fieldset>
                </div>
              </p-fieldset>

              <p-fieldset legend="Informações Responsavel">
                <div class="ui-g-10">
                  <div class="ui-g-3 ui-fluid">
                    <label>Nome: </label>
                    <input type="text" pInputText name="mnResponsavel" [(ngModel)]="cadAmf.mnResponsavel"> 
                  </div>

                  <div class="ui-g-3 ui-fluid">
                    <label>Endereço:</label>
                    <input type="text" pInputText name="enderecoResponsavel" [(ngModel)]="cadAmf.enderecoResponsavel">
                  </div>


                </div>


                <div class="ui-g-10">
                  <div class="ui-g-3 ui-fluid">
                    <label>Telefone: </label>
                    <p-inputMask mask="(99) 999-999999" [(ngModel)]="cadAmf.nrTelefoneResponsavel" name="nrTelefoneResponsavel" placeholder="(99) 999-9999"></p-inputMask>
                  </div>
                  <div class="ui-g-3 ui-fluid">
                    <label>Email:</label>
                    <input type="text" pInputText name="emailResponsavel" [(ngModel)]="cadAmf.emailResponsavel" placeholder="@">
                  </div>
                </div>

                <div>
                  <button pButton type="button" icon="pi pi-list"
                    style="margin-bottom: 10px; margin-right: 10px;"></button>
                  <button pButton type="button" icon="pi pi-list" style="margin-bottom: 10px;"></button>

                </div>

                <div>
                  <button pButton type="button" icon="pi pi-sitemap" style="margin-right: 10px;"></button>
                  <button pButton type="button" icon="pi pi-pencil"></button>
                </div>

                

              </p-fieldset>
              <div class="ui-g-8">
                <div class="ui-fluid ui-g-5 ui-md-5" style="margin-right: 10px;">
                  <label>Lista de Especie: </label>
                  <!-- <input type="number" pInputText name="cdListaEsp" [(ngModel)]="cadAmf.cdListaEsp.cdListaEsp"> -->
                  <p-dropdown name="especies" [options]="especies" [autoWidth]="false" placeholder= "Selecione a Especie" 
                [(ngModel)]="cadAmf.cdListaEsp.cdListaEsp"></p-dropdown> 
                </div>
                  <div style="padding-bottom: 10px;">
                    <p-checkbox name="groupname" value="val1" label="Muda contada">
                    </p-checkbox>
                  </div>
                  <div>
                    <p-checkbox name="groupname" value="val2" label="Palmeira contada" >
                    </p-checkbox>
                  </div>
               

              </div>

              <div class="ui-g-12">
                <button type="submit" pButton  label="Salvar"></button>
              </div>

            </div>
          </p-fieldset>

        </form>
      </p-card>
    <!-------------------AMF-FIM--------------->
    </p-tabPanel>
    <!--------------Parcela-->
    <p-tabPanel header="Parcela">
      <p-fieldset legend="Codigo do Nome AMF">
        <div class="ui-g">
          <div class="ui-g-1 ui-fluid">
            <label>Parcela: </label>
            <input type="text" pInputText style="width: 10">
          </div>
          <div class="ui-g-4 ui-fluid">
            <label style="padding-left: 10px;">Nome: </label>
            <p-multiSelect [options]=""  optionLabel="name">
            </p-multiSelect>

          </div>

          <div class="ui-g-3" style="margin-top: 25px;">
            <p-checkbox name="groupname" value="val1" label="Muda contada" ></p-checkbox>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Cordenadas">
        <div class="ui-g" style="margin-left: 13px;">
          <label style="margin-top: 40px;">Latitude:</label>
          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto1°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>
          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto2°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto3°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto4°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>


        </div>

        <div class="ui-g">
          <label style="margin-top: 40px;">Longitude:</label>
          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto1°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>
          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto2°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto3°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto4°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>


        </div>

        <div class="ui-g-10">
          <div class="ui-fluid">
            <label>Observação: </label>
            <input type="text" name="" pInputText placeholder="OBS:">
          </div>
        </div>

      </p-fieldset>

      
    </p-tabPanel>
    <p-tabPanel header="Header 3">
      Content 3
    </p-tabPanel>

    <div class="ui-g">
      <div class="ui-g-12">
          <form  autocomplete="off" (ngSubmit)="consultar()">
              <div class="ui-g-12 ui-fluid">
                  <label style="display: block">Pesquisar por Nome: </label>
                  <div class="ui-g-12 ui-md-7">
                      <div class="ui-inputgroup">
                          <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                          <input type="text" pInputText name="nmArea" [(ngModel)]="filtro.nmArea">
                      </div>
                  </div>
  
              </div>
          </form>
      </div>
    </div>
    
    
     
    <div class="ui-g">        
      <p-table [value]="amf"  [paginator]="true"  [rows]="filtro.size" [responsive]="true" [lazy]="true"
       [totalRecords]="totalRegistrosAMF" (onLazyLoad)="aoMudarPaginaAMF($event)" #tabela>
          <ng-template pTemplate="header">
              <tr>
                <th>Empresa</th>
                <th>Nome da Area</th>
                <th>Estado</th>
                <th>Municipio</th>
                <th></th>
    
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-area>
              <tr>
                <td>{{area.cdEmpresa.nmEmpresa}}</td>
                <td>{{area.nmArea}}</td>
                <td>{{area.nmEstado}}</td>
                <td>{{area.nmMunicipio}}</td>
              <td><button pButton icon="pi pi-trash" style="margin-right: 10px;" pTooltip="remover" class="ui-button-danger" tooltipPosition="top"
                (click)="confirmarExclusao(area)"></button>
              <button pButton icon="pi pi-pencil" pTooltip="editar"></button></td>
          </tr>
         </ng-template>
      </p-table>
   </div>

   </p-tabView>
</div>








