<div class="container">
  <<p-panel>
    <p-header>Inventario continuo / Tipo parcela / Classe Floresta / Classe de Tamanho Individuo</p-header>
    <p-fieldset legend="Cadastro Classe de Tamanho Individuo">
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Nome: </label>
        <input type="text" pInputText name="nmCategoriaProtecao" placeholder="Categoria Proteção" required>
      </div>
      <div class="ui-g-1  ui-md-1">
        <button type="submit" pButton  label="Salvar" class="ui-button-success"></button>
      </div>
    </p-fieldset>
    <p-fieldset legend="Dados cadastrais">
      teste
    </p-fieldset>
    <p-footer>
     
    </p-footer>
  </p-panel>
  
</div>