<div class="container">

  <p-tabView>
    <p-tabPanel header="Área de Manejo Florestal">
      <p-card [style]="{width: 'px'}" styleClass="ui-card-shadow">
        <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
          <div class="ui-g">
            <h2>Area Manejo Florestal</h2>
          </div>

          <p-fieldset legend="AMF" [toggleable]="bool">
            <div class="ui-g">

              <div class="ui-g-1 ui-fluid">
                <label>ID: </label>
                <input type="text" pInputText style="width: 10">
              </div>
              <div class="ui-g-5 ui-fluid">
                <label style="
                           padding-left: 10px;">Nome: </label>
                <input type="text" pInputText>
              </div>

              <div class="ui-g-3 ui-fluid">
                <label style="
                           padding-left: 10px;">Munícipio: </label>
                <input type="text" pInputText>
              </div>
              <div class="ui-g-1 ui-fluid">
                <label style="
                           padding-left: 10px;">Estado: </label>
                <input type="text" pInputText>
              </div>




              <p-fieldset legend="Informações Geograficas">

                <div class="ui-g">
                  <div class="ui-g-5 ui-fluid">
                    <label>Tipologia Florestal: </label>
                    <input type="text" pInputText>
                  </div>

                  <div class="ui-g-1 ui-fluid">
                    <label>Latitude:</label>
                    <input type="text" pInputText>
                  </div>
                  <span style="margin-top: 30px;">°</span>
                  <div class="ui-g-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText>
                  </div>
                  <span style="margin-top: 30px;">|</span>

                  <div class="ui-g-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText>
                  </div>

                  <span style="margin-top: 40px;">a</span>
                  <div class="ui-g-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText>
                  </div>

                  <span style="margin-top: 30px;">°</span>
                  <div class="ui-g-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText>
                  </div>
                  <span style="margin-top: 30px;">|</span>

                  <div class="ui-g-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText>
                  </div>
                </div>

                <div class="ui-g">
                  <div class="ui-g-5 ui-fluid">
                    <label>Tipo Solo: </label>
                    <input type="text" pInputText>
                  </div>

                  <div class="ui-g-1 ui-fluid">
                    <label>Longitude:</label>
                    <input type="text" pInputText>
                  </div>
                  <span style="margin-top: 30px;">°</span>
                  <div class="ui-g-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText>
                  </div>

                  <span style="margin-top: 30px;">|</span>
                  <div class="ui-g-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText>
                  </div>

                  <span style="margin-top: 40px;">a</span>
                  <div class="ui-g-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText>
                  </div>

                  <span style="margin-top: 30px;">°</span>
                  <div class="ui-g-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText>
                  </div>

                  <span style="margin-top: 30px;">|</span>
                  <div class="ui-g-1 ui-fluid" style="margin-top: 18px;">
                    <input type="text" pInputText>
                  </div>
                  <div class="ui-g-5 ui-fluid">
                    <label>Relevo: </label>
                    <input type="text" pInputText>
                  </div>
                </div>
              </p-fieldset>

              <p-fieldset legend="Informações Clímaticas" [toggleable]="bool">
                <div class="ui-g-9">
                  <div class="ui-g-3 ui-fluid" style="margin-top: 20px;">
                    <label>Anual: </label>
                    <input type="text" pInputText>
                  </div>

                  <div class="ui-g-3 ui-fluid">
                    <label style="
                          padding-left: 10px;">Mensal no Período de Chuva:</label>
                    <input type="text" pInputText>
                  </div>

                  <div class="ui-g-3 ui-fluid">
                    <label style="
                          padding-left: 10px;">Mensal no Período de Seca: </label>
                    <input type="text" pInputText>
                  </div>
                </div>


                <div class="ui-g-9">
                  <div class="ui-g-3 ui-fluid">
                    <label>Meses de Chuva: </label>
                    <input type="text" pInputText style="width: 10">
                  </div>
                  <div class="ui-g-3 ui-fluid">
                    <label style="
                          padding-left: 10px;">Meses de Seca:</label>
                    <input type="text" pInputText>
                  </div>

                </div>
                <div>
                  <p-fieldset legend="Equação" [toggleable]="bool">
                    <div class="ui-fluid">
                      <button pButton type="button" icon="pi pi-pencil"></button>
                      <label style="padding-left: 10px;">Volume para inventario:</label>
                      <div style="padding-top: 10px;">
                        <p-dropdown [options]="cities2" [(ngModel)]="selectedCity2" optionLabel="name"></p-dropdown>
                      </div>

                    </div>
                  </p-fieldset>
                </div>
              </p-fieldset>

              <p-fieldset legend="Informações Clímaticas" [toggleable]="bool">
                <div class="ui-g-10">
                  <div class="ui-g-3 ui-fluid">
                    <label>Nome: </label>
                    <input type="text" pInputText>
                  </div>

                  <div class="ui-g-3 ui-fluid">
                    <label>Endereço:</label>
                    <input type="text" pInputText>
                  </div>


                </div>


                <div class="ui-g-10">
                  <div class="ui-g-3 ui-fluid">
                    <label>Telefone: </label>
                    <input type="text" pInputText style="width: 10">
                  </div>
                  <div class="ui-g-3 ui-fluid">
                    <label>Email:</label>
                    <input type="text" pInputText>
                  </div>
                </div>

                <div>
                  <button pButton type="button" icon="pi pi-list"
                    style="margin-bottom: 10px; margin-right: 10px;"></button>
                  <button pButton type="button" icon="pi pi-list" style="margin-bottom: 10px;"></button>

                </div>

                <div>
                  <button pButton type="button" icon="pi pi-sitemap" style="margin-right: 10px;"></button>
                  <button pButton type="button" icon="pi pi-pencil"></button>
                </div>



              </p-fieldset>
              <div class="ui-g-8">
                <div class="ui-fluid">
                  <label>Lista de Especie: </label>
                  <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City"
                    optionLabel="name" [showClear]="true"></p-dropdown>
                  <div class="ui-g-8">
                    <p-checkbox name="groupname" value="val1" label="Muda contada" [(ngModel)]="selectedValues">
                    </p-checkbox>
                    <p-checkbox name="groupname" value="val2" label="Palmeira contada" [(ngModel)]="selectedValues">
                    </p-checkbox>
                  </div>
                </div>

              </div>

              <div class="ui-g-12">
                <button pButton type="submit" label="Pesquisar"></button>
              </div>

            </div>
          </p-fieldset>

        </form>
      </p-card>


    </p-tabPanel>
    <p-tabPanel header="Parcela">
      <p-fieldset legend="Codigo do Nome AMF" [toggleable]="bool">
        <div class="ui-g">
          <div class="ui-g-1 ui-fluid">
            <label>Parcela: </label>
            <input type="text" pInputText style="width: 10">
          </div>
          <div class="ui-g-4 ui-fluid">
            <label style="padding-left: 10px;">Nome: </label>
            <p-multiSelect [options]="cities2" [(ngModel)]="selectedCities2" optionLabel="name">
            </p-multiSelect>

          </div>

          <div class="ui-g-3" style="margin-top: 25px;">
            <p-checkbox name="groupname" value="val1" label="Muda contada" [(ngModel)]="selectedValues"></p-checkbox>
          </div>
        </div>
      </p-fieldset>
      <p-fieldset legend="Cordenadas" [toggleable]="bool">
        <div class="ui-g" style="margin-left: 13px;">
          <label style="margin-top: 40px;">Latitude:</label>
          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto1°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>
          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto2°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto3°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto4°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>


        </div>

        <div class="ui-g">
          <label style="margin-top: 40px;">Longitude:</label>
          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto1°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>
          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto2°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto3°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>

          <div class="ui-g-2">
            <div class="ui-g-4 ui-fluid">
              <label>Ponto4°</label>
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>

            <div class="ui-g-4 ui-fluid" style="margin-top: 18px;">
              <input type="text" pInputText>
            </div>


          </div>


        </div>

        <div class="ui-g-10">
          <div class="ui-fluid">
            <label>Observação: </label>
            <input type="text" name="" pInputText placeholder="OBS:">
          </div>
        </div>

      </p-fieldset>

      <div class="ui-g">
        <p-table [value]="cars">
          <ng-template pTemplate="header">
            <tr>
              <th>Vin</th>
              <th>Year</th>
              <th>Brand</th>
              <th>Color</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-car>
            <tr>
              <td>Teste</td>
              <td>Teste</td>
              <td>Teste</td>
              <td>Teste</td>
            </tr>
          </ng-template>
        </p-table>
      </div>


    </p-tabPanel>
    <p-tabPanel header="Header 3">
      Content 3
    </p-tabPanel>

  </p-tabView>





</div>
