<div class="container">
  <p-card  [style]="{width: 'px'}" styleClass="ui-card-shadow">
   <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">
        <div class="ui-g-12">
          <h2>Categoria de Avaliação  {{ editando ? ' - Editando - ' : '' }}</h2>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label style="display: block">Código: </label>
          <input type="text" [readonly]="true" name="cdNivelDeAvaliacao" pInputText style="width: 50px"  [(ngModel)]="cadnivelavaliacaoSalvar.cdNivelDeAvaliacao" />
        </div>
        <div class="ui-g-10 ui-fluid">
          <label style="display: block">Categoria de Avaliação: </label>
          <input type="text" name="nmnivelavaliacao" pInputText [(ngModel)]="cadnivelavaliacaoSalvar.nmNivelDeAvaliacao" />
        </div>
        <div class="ui-g-2 ui-fluid">
          <label style="display: block">Sigla: </label>
          <input type="text" name="sigla" pInputText [(ngModel)]="cadnivelavaliacaoSalvar.sigla" />
        </div>
        <div class="ui-g-12 ui-fluid">
          <label style="display: block">Descrição: </label>
          <textarea pInputTextarea name="txdescricao" [(ngModel)]="cadnivelavaliacaoSalvar.txDescricao"></textarea>
        </div>


        <div  class="ui-g-2 ui-fluid">
            <br />
            <button pButton type="submit" label="Salvar" class="ui-button-raised ui-button-success" [disabled]="!editando"></button>
          </div>

        <div *ngIf="editando" class="ui-g-2 ui-fluid ">
          <br />
          <h3><strong><a routerLink="/cadniveldeavaliacao">Sair da edição</a></strong></h3>
        </div>
    </div>
    </form>
    <div class="ui-g">
        <form  autocomplete="off" (ngSubmit)="pesquisar()">
            <div class="ui-g-12 ui-fluid">
                <label style="display: block">Pesquisar por Nome: </label>
                <input type="text" pInputText name="nmnivelavaliacao" [(ngModel)]="filtro.nmNivelDeAvaliacao">
              </div>

        <div class="ui-g-12">

                <p-table [value]="cadnivelavaliacao" [paginator]="true" [rows]="filtro.size"  [responsive]="true"
                [lazy]="true" [totalRecords]="tatalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabela>

                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 70px">codigo</th>
                    <th>Categoria de Avaliação</th>
                    <th style="width: 100px">Sigla</th>
                    <th>Descrição</th>
                    <th style=" width: 140px"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-nivelavaliacao>
                  <tr>
                    <th>{{nivelavaliacao.cdNivelDeAvaliacao}}</th>
                    <th style="text-align: left">{{nivelavaliacao.nmNivelDeAvaliacao}}</th>
                    <th>{{nivelavaliacao.sigla}}</th>
                    <th style="text-align: left">{{nivelavaliacao.txDescricao}}</th>
                    <th>
                        <a pButton icon="pi pi-pencil" pTooltip="Editar Categoria de Avaliação" tooltipPosition="top" [routerLink]="['/cadniveldeavaliacao', nivelavaliacao.cdNivelDeAvaliacao]"></a>
                        <button pButton icon="pi pi-trash" style="margin-left: 10px" pTooltip="Excluir Categoria de Avaliação" tooltipPosition="top"></button>
                    </th>
                  </tr>
                </ng-template>
              </p-table>

        </div>
    </form>
    </div>


  </p-card>
  </div>






