<div class="container">
  <p-panel>
    <p-header>Inventario continuo / Tipo parcela / Classe Floresta / Classe de Tamanho Individuo / Situação Silvicultural</p-header>
    <p-fieldset legend="Situação Silvicultural">
      <form autocomplete="off" #silvicultural="ngForm" (submit)="adicionarTratamentoSilvicultural(silvicultural)">
        <div class="ui-g-9 ui-md-7 ui-fluid" >
          <label>Nome: </label>
          <input type="text" pInputText name="nmTratamento" placeholder="Silvicultural"  required [(ngModel)]="cadTratamentoSilviculturalSalva.nmTratamento">
        </div>

        <div class="ui-g-5 ui-fluid">
          <label>Empresas:</label>
            <p-dropdown name="empresa"  [options]="empresas" [autoWidth]="false" 
            placeholder= "Selecione a empresa"  filter="true" [(ngModel)]="cadTratamentoSilviculturalSalva.cdEmpresa.cdEmpresa"  required></p-dropdown>    
        </div>

        <div class="ui-g-1  ui-md-1">
          <button type="submit" pButton   label="Salvar" class="ui-button-success"></button>
        </div>
      </form>
    </p-fieldset>
    <p-fieldset legend="Dados Cadastrais">
      <div class="ui-g-12 ui-md-12">  
        <form  autocomplete="off" (ngSubmit)="cosultaSilvicultural()">
          <div class="ui-g-12 ui-fluid">
              <label style="display: block">Pesquisar Grupo Ecológico: </label>
              <div class="ui-g-12 ui-md-7">
                  <div class="ui-inputgroup">
                      <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                      <input type="text" pInputText name="nmTratamento" [(ngModel)]="filtro.nmTratamento" placeholder="Pesquisar">
                  </div>
              </div>

          </div>
      </form>
  </div>

  <div class="ui-g-12 ui-md-12">            
    <p-table [value]="listaSilvicultural"  [paginator]="true"   [rows]="filtro.size" [responsive]="true" [lazy]="true"
    [totalRecords]="totalElementosSilvicultural" (onLazyLoad)="aoMudarPaginaSilvicultal($event)" #tabela>
        <ng-template pTemplate="header" >
            <tr>
            
              <th>Codigo</th>
              <th>Tratamento Silvicultural</th>
              <th></th>
              
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-listaSilvicultural>
            <tr class="hovergenero">
              <td>{{listaSilvicultural.cdTratamento}}</td>
              <td>{{listaSilvicultural.nmTratamento}}</td>
            
              <td style="text-align: center;"><button pButton icon="pi pi-trash" style="margin-right: 10px;" 
                pTooltip="remover" class="ui-button-danger" tooltipPosition="left" (click)="confirmarExclusao(listaSilvicultural)">
              </button>
              <button pButton icon="pi pi-pencil" pTooltip="editar"></button></td>
        </tr>
      </ng-template>
    </p-table>
  
  </div>

    </p-fieldset>
    
    <p-footer>
      your footer template
    </p-footer>

    <p-fieldset legend="Situação Anterior" [toggleable]="true">
    teste teste
    </p-fieldset>
  </p-panel>
</div>
