<div class="container">
  <p-panel>
    <p-header>Cadastro Geral / Lista Espécie / Grupo Ecológico</p-header>
      <form autocomplete="off" #grupoEcologico="ngForm" (ngSubmit)="salvar(grupoEcologico)">
          <p-fieldset legend=" {{editando ? 'EDITANDO ': ' '}} Grupo Ecológico">
            <div class="ui-g-9 ui-md-7 ui-fluid">
                <label>Nome: </label>
                <input type="text" pInputText name="nmGrupoEcologico" placeholder="Grupo Ecológico" [(ngModel)]="cadGrupoEcologico.nmGrupoEcologico" required>
              </div>

              <div class="ui-g-5 ui-fluid">
                <label>Empresas:</label>
                  <p-dropdown name="empresa"  [options]="empresas" [autoWidth]="false" 
                  placeholder= "Selecione a empresa"  filter="true" [(ngModel)]="cadGrupoEcologico.cdEmpresa.cdEmpresa" required></p-dropdown>    
              </div>

              <div class="ui-g-1  ui-md-1">
                <button type="submit" pButton   label="Salvar" class="ui-button-success"[disabled]="!cadGrupoEcologico.nmGrupoEcologico"></button>
              </div>
                
              <div *ngIf="editando" class="ui-g-2 ui-md-2">
                <strong><a routerLink="/cadastro-grupo-ecologico"><button type="button" pButton label="Sair da edição"></button></a></strong>
              </div>
              
          </p-fieldset>
    </form>
          <p-fieldset legend="Dados Cadastrais">
                <div class="ui-g-12 ui-md-12">  
                <form  autocomplete="off" (ngSubmit)="consultarGrupoEcologico()">
                  <div class="ui-g-12 ui-fluid">
                      <label style="display: block">Pesquisar Grupo Ecológico: </label>
                      <div class="ui-g-12 ui-md-7">
                          <div class="ui-inputgroup">
                              <span class="ui-inputgroup-addon"><i class="pi pi-search" style="line-height: 1.25;"></i></span>
                              <input type="text" pInputText name="nmGenero" [(ngModel)]="filtro.nmGrupoEcologico" placeholder="Pesquisar">
                          </div>
                      </div>

                  </div>
              </form>
          </div>

          <div class="ui-g-12 ui-md-12">            
            <p-table [value]="listaGrupoEcologico"  [paginator]="true"   [rows]="filtro.size" [responsive]="true" [lazy]="true"
            [totalRecords]="totalRegistrosGrupoEcologico" (onLazyLoad)="aoMudarPaginaGrupoEcologico($event)" #tabela>
                <ng-template pTemplate="header" >
                    <tr>
                    
                      <th>Codigo</th>
                      <th>Grupo Ecológico</th>
                      <th></th>
                      
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-listaGrupoEcologico>
                    <tr class="hovergenero">
                      <td>{{listaGrupoEcologico.cdGrupoEcologico}}</td>
                      <td>{{listaGrupoEcologico.nmGrupoEcologico}}</td>
                    
                      <td style="text-align: center;"><button pButton icon="pi pi-trash" style="margin-right: 10px;" 
                        pTooltip="remover" class="ui-button-danger" tooltipPosition="left" (click)="confirmarExclusao(listaGrupoEcologico)">
                      </button>
                      <button pButton icon="pi pi-pencil" pTooltip="editar" [routerLink]="['/cadastro-grupo-ecologico', listaGrupoEcologico.cdGrupoEcologico]"></button></td>
                </tr>
              </ng-template>
            </p-table>
          
          </div>

      </p-fieldset>

</p-panel>
  
</div>
